// Import bootstap
@import "~bootstrap/scss/bootstrap";

// Import component styles
@import "./components/Footer/footer.styles.scss";
@import "./components//Gallery/gallery.styles.scss";
@import "./components/Header/header.styles.scss";
@import "./components/Modal/modal.styles.scss";
@import "./components/Photo/photo.styles.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
